doctype html
html 
    head 
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/anime.css")
        -var center = ["d-flex","align-items-center","justify-content-center"];
        title PBT 
    body.bg-secondary.text-center
        .container-fluid
            .row.justify-content-center
                .col-12.col-sm-10.col-md-8.col-lg-6.border-start.border-end.border-success.text-light.bg-dark#root
                    #game(class=center)
                    #text(class=center)
        script(src="vue/vue@2.js")
        script(src="vue/game.js")  