@keyframes douyin {
    50%{
        transform: scale(1.2,1.2);
    }
    100%{
        transform: scale(1,1);
    }
}

.douyin{
    animation-name: douyin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}