doctype html
html(lang="ja")
    head 
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(src="js/jquery-3.6.0.min.js")
        script(src="js/bootstrap.min.js")
        title Reac
    body
        .container-fluid
            .row.justify-content-center 
                .col-12.col-sm-10.col-md-8.col-lg-4.text-center.text-break
                    h1.lg.mt-5 Reac
                    input(type="text", name="q")