@charset "utf-8";

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes leftslide{
    0%{
        transform: translateX(-60vw);
    }
    100%{
        transform: translateX(0);
    }
}

.fadein{
    animation: fadein 5s;
}
.fadeout{
    animation: fadeout 5s;
}
.leftslide{
    animation: leftslide 4s ease-out;
}