@charset "utf-8";

body{
    background-color: lightgoldenrodyellow;
}

@mixin smartphone {
    @media screen and (max-width:480px) {
        @content;
    }
}

#root{
    margin: auto;
    width: 45%;
    @include smartphone {
        width: 100%;
    }
    h1{
        border-bottom: solid;
        padding-bottom: 5px;
    }
    .main{
        margin-top: 10px;
        h2{
            padding-top: 12px;
        }
        p{
            margin: 0 auto;
            word-break: break-all;
        }
        img{
            margin: 6px auto;
            width: 100%;
        }
    }
}
