#root{
    height: 100vh;
    overflow: hidden;
    @mixin height ($height) {
        height: $height+vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #game{
        @include height(50);
    }
    #text{
        @include height(50);
    }
}
