body{
    text-align: center;
    background-color: #222;
    color: whitesmoke;
}
.root{
    margin: auto;
}
#text,#game{
    width: 50%;
}
@media screen and (max-width: 480px){
    #text,#game{
        width: 100%;
    }
}
#game{
    padding-top: 3vh;
    height: 50vh;
}
#text{
    padding-bottom: 3vh;
    border: solid 1px white;
    height: 40vh;
}