doctype html
html
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="./css/bootstrap.min.css")
        //favion original => from pixabay.com
        link(rel="icon" href="./favicon.png" type="image/png")
        title TikTok
    body 
        .container-fluid
            .row.justify-content-center 
                .col-12.col-sm-8.col-lg-4.text-break.text-center
                    p.fs-1.mt-5 503
                    p.fs-2 Service Unavailable
                    button.btn.btn-outline-secondary#trap(type="button") Retry
        //script(src="./js/jquery-3.6.0.min.js") 
        script(src="./js/main.js") 