doctype html
html
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="./css/bootstrap.min.css")
    body 
        .container-fluid
            .row.justify-content-center 
                .col-12.col-sm-8.col-lg-4.text-wrap
                    .navbar.navbar-expand-lg.navbar-light.bg-light
                        .container-fluid 
                            a.navbar-brand Reac
                    p.fs-1 どうもみなさんこんにちは。このサイトの運用者の#####です
        script(src="./js/jquery-3.6.0.min.js") 
        script(src="./js/main.js") 